h2{
  color: rgb(87, 50, 190);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: initial;
  font-weight: 750px;
}

body{
  padding: 50px;
  display: block;
  margin: auto;
  border-radius: auto;

}

input[type="button"] {
 
  background-color:lightsteelblue;
  color: white;
  display: block;
  margin: auto;
  border-radius: auto;

}

form{
  width: fit-content;
  padding: 20px;
  margin: 40px auto;
  font-size: 20px;
  border: 2px solid lightsteelblue;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 5vmin);
  color: rgb(241, 234, 234);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}